:root{
    --primary-color: #B64502;
    --secondary-color: #8C3400;
    --tertiary-color: #C2B9B9;
    --fourth-color: #D9D9D9;
    --fifith-color: #F4DDB0;
}

body{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Poppins";
    width: 100%;
    height: 100%;
    margin: 0;
}


input{
    font-family: "Poppins";
}



