.container{
    background-color: var(--fourth-color);
    width: 100vw;
    height: 100%;

    .items{
        margin: 40px;
    }

    .select {
      width: 200px;
      height: 50px;
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: var(--primary-color);
      color: var(--fourth-color);
      font-family: Arial, sans-serif;
      font-size: 16px;
      text-align: center;
    }
    
    .select:focus {
      outline: none;
      border-color: var(--fourth-color);
    }

    .movieContainer{
      margin: 40px;
      display: flex;
      gap: 20px;
      

      .movieBox{
        background-color: gray;
        width: 350px;
        height: 400px;
      }
    }
}
