.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .container{
        width: 690px;
        background-color: var(--fourth-color);
        border-radius: 20px;
        
    
        .links{
            display: flex;
            flex-direction: row;
            justify-content: center;

    
            a{
                text-decoration: none;
                color: var(--primary-color);
                margin-left: 5px;
            }
        }
    
        .items{
            margin: 47px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        
        }
    
        .input{
            display: flex;
            flex-direction: column;

            label{
                margin-bottom: 15px;
                margin-left: 10px;
                font-weight: bold;
                font-size: 20px;
            }
            
            input{
                background-color: var(--fifth-color);
                border: none;
                border-radius: 20px;
                height: 50px;
                background-color: var(--tertiary-color);
                padding-left: 10px;
            }
        }
    }
}


