.telaInicial {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}

.containerLogo {
  background-color: var(--fourth-color);
  height: 500px;
  width: 400px;
  border-radius: 20px;
  overflow: hidden; 
}

.containerLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.containerTexto {
  background-color: var(--fourth-color);
  height: 500px;
  width: 800px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.conteudo {
  margin: 40px;
}
