.container{
    background-color: var(--fourth-color);
    height: 20vh;
    padding: 40px;

    h1{
        font-size: 24px;
    }

    .movieContainer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;

        .movieBox{
            height: 150px;
            width: 160px;
            background-color: gray;
        }
    }
 
}